<div class="container">
  <ds-my-dspace-new-submission *dsShowOnlyForRole="[roleTypeEnum.Submitter]"></ds-my-dspace-new-submission>
    <!-- MyOSPR adding title in h1 -->
    <h1 id="wb-cont">{{'mydspace.title' | translate}}</h1>
    <!-- addition title into MyOSPR page using h1-->
  
</div>

<ds-themed-search *ngIf="configuration && context"
           [configuration]="configuration"
           [configurationList]="(configurationList$ | async)"
           [context]="context"
           [viewModeList]="viewModeList"
></ds-themed-search>
