<form #form="ngForm" (ngSubmit)="onSubmit(form.value)" action="/search">
    <div>
        <div class="form-group input-group">
            <div *ngIf="showScopeSelector" class="input-group-prepend">
                <button class="scope-button btn btn-outline-secondary text-truncate" [ngbTooltip]="(selectedScope | async)?.name" type="button" (click)="openScopeModal()">{{(selectedScope | async)?.name || ('search.form.scope.all' | translate)}}</button>
            </div>
            <!--OSPR type search instead of text-->
            <input autocomplete="on" type="search" [(ngModel)]="query" name="query" class="form-control" [attr.data-test]="'search-box' | dsBrowserOnly"
                   [placeholder]="searchPlaceholder">
            <span class="input-group-append">
            <button type="submit" class="search-button btn btn-{{brandColor}}" title="{{'search.form.search' | translate}}" [attr.data-test]="'search-button' | dsBrowserOnly"><i class="fas fa-search"></i></button>
        </span>
        </div>
    </div>
</form>
